* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    height: 100%;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 180px 1fr;
}

/* Styles for the sidebar */
.sidebar {
    background-color: black;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 70px 280px 140px;
    gap: 50px;
}

.sidebar-top {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.sidebar h1 {
    color: white;
}

.block {
    height: 100%;
    width: 100%;
    background-color: white;
}

.dashboard-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    height: 40px;
    width: 40px;
}

.one {
    grid-row: 1 / 4;
}

.four {
    grid-row: 4 / 6;
}

.two {
    grid-row: 1 / 3;
}

.three {
    grid-row: 3 / 6;
}

.nav {
    color: white;
    cursor: pointer;
    background-color: black;
    border: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    display: grid;
    grid-template-columns: 30px 50px;
    gap: 20px;
    align-items: center;
}

.sidebar-middle {
    display: grid;
}

.sidebar-bottom {
    display: grid;
}

img {
    width: 24px;
    height: 24px;
}

.nav img,
.nav span {
    margin-left: 20px;
}

.nav:hover {
    background-color: rgb(40, 40, 40);
}
.nav:active {
    background-color: rgb(30, 30, 30);
}
/* Styles for the sidebar */

/* Styles for the header */
.header-top,
.header-bottom {
    height: 100%;
    padding: 20px 40px;
}

.header-top {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    gap: 50px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.searchbox {
    background-color: rgb(220, 226, 236);
    height: 30px;
    border-radius: 20px;
    border: none;
    text-indent: 10px;
    font-size: 18px;
}

.header-top .section-1 {
    display: grid;
    grid-template-columns: 24px minmax(200px, 600px);
    align-items: center;
    gap: 10px;
}

.profile {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.header-top .section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: end;
    gap: 20px; 
}

.header-top .section-2 span {
    font-size: 16px;
    font-weight: bold;
}

.header-bottom {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

.header-bottom .section-1 {
    display: grid;
    grid-template-columns: 60px 500px;
    align-items: center;
    gap: 15px;
}

.header-bottom img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.header-bottom p {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.header-bottom p::first-line {
    font-size: 16px;
}

.header-bottom .section-2 {
    display: flex;
    gap: 30px
}

.header-bottom .section-2 button {
    color: white;
    background-color: black;
    padding: 8px;
    width: 120px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border: 2px solid black;
    transition-duration: 100ms;
}

.header-bottom .section-2 button:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.header-bottom .section-2 button:active {
    background-color: rgb(234, 234, 234);
}

img[src="Icons/bell-ring-outline.svg"]:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px rgb(230, 230, 230);
    cursor: pointer;
}

img[src="Icons/bell-ring-outline.svg"]:active {
    background-color: rgb(210,210, 210);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px rgb(210, 210, 210);
}
/* Styles for the header */

/* Styles for the main-part */
.main-part {
    background-color: rgb(220, 226, 236);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 40px 0px 100px 20px;
    gap: 20px;
}

.main-part > div {
    height: 100%;
}

.main-part .section-1 {
    display: grid;
    grid-template-rows: 40px 1fr;
}

.card {
    height: 250px;
    background-color: white;
    padding: 30px 20px 0px 30px;
    border-radius: 10px;
    border-left: 10px solid #21eb70;
    display: grid;
    grid-template-rows: 3fr 1fr;
    transition-duration: 200ms;
    box-shadow: 2px 5px 5px rgb(188, 194, 203);
}

.card:hover {
    border-left: 15px solid #21eb70;
}

.card div + div {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.card p {
    color: rgb(62, 65, 71);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 250px 250px;
    gap: 30px;
}

.card img:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 5px rgb(230, 230, 230);
    cursor: pointer;
}

.card img:active {
    background-color: rgb(210,210, 210);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 5px rgb(210, 210, 210);
}

.main-part .section-2 {
    display: grid;
    grid-template-rows: 40px 1fr 20px 20px 40px 1fr;
    align-items: center;
    padding-right: 40px;
}

.top-part {
    background-color: white;
    padding: 40px 30px 40px 30px;
    display: grid;
    grid-auto-rows: 50px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgb(188, 194, 203);
}

.top-part p {
    color: rgb(62, 65, 71);
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcement {
    cursor: pointer;
}

.top-part + h2 {
    grid-row: 5 / 6;
}

.bottom-part {
    grid-row: 6 / 7;
    background-color: white;
    height: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgb(188, 194, 203);
    align-items: center;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgb(206, 212, 223);
}

.bottom-part div {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.bottom-part p {
    color: rgb(62, 65, 71);
}

.bottom-part p::first-line {
    color: black;
}
/* Styles for the main-part */